form {
  padding: 0.5rem;
  position: relative;
}
input {
  margin: 1rem 0;
  display: inline;
  font-size: 16px;
}
.inputField {
  position: relative;
}
.buttonReset {
  margin-left: 0.4rem;
}
.inputError {
  display: none;
}
.inputErrorActive {
  font-size: 0.8rem;
  color: red;
  display: block;
  position: absolute;
  top: 2.8rem;
}
