td {
  border: 1px solid grey;
  padding: 0.5rem;
  word-wrap: break-word;
}
tbody tr:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}
tbody tr:hover {
  background-color: lightgrey;
}

.info {
  text-align: center;
  padding: 2rem;
}
.info:hover {
  background-color: white;
}
.lastCol {
  width: 2rem;
  text-align: center;
}
.deleteButton {
  padding: 0;
  border: 0;
  color: red;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 470px) {
  td {
    padding: 0.2rem;
  }
}
